@import url(http://fonts.googleapis.com/css?family=Montserrat);

body {
  color: white;
  font-family: 'Montserrat', sans-serif;
}

#wrapper {
  background-color: rgb(158, 44, 44);
  border-radius: 20px;
  padding: 20px;
}

.buttons {
  font-size: 30px;
  margin: 5px;
}

.buttons button {
  background-color: black;
  color: white;
  border-style: none;
  border-color: white;
  padding: 5px;
  border-radius: 5px;
}

.card {
  float: left;
  border: solid 1px black;
  width: 100px;
  border-radius: 5px;
  height: 140px;
  margin-right: 20px;
}

.covered {
  background-color: black;
  color: black;
}

.hand {
  overflow: auto;
}

.win {
  color: green;
}

.lose {
  color: red;
}
